{
  "env": {
    "node": true
  },
  "globals": {
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
    "describe": false,
    "expect": false,
    "it": false,
    "sinon": false,
    "halcyon": false
  },
  "rules": {
    "max-depth": 0,
    "max-nested-callbacks": 0
  }
}