@import 'base';
@import '~bootstrap/scss/bootstrap';
@import 'prism';

body {
  background: rgba(0, 0, 0, 0.1);
}

.toc-wrapper {
  position: sticky;
  left: 0;
  top: 3.5rem;
  max-height: calc(100vh - 3.5rem);
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.toc {
  &__search {
    margin-left: -15px;
    margin-right: -15px;
    padding: 1rem 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  &__items {
    position: relative;
    height: 100%;
    max-height: calc(100vh - 9rem);
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 !important;
    overflow-y: auto;
    list-style: none;
  }

  &__link {
    display: block;
    color: $body-color !important;
    font-weight: 300;
    transition: 0.15s background;
    padding: 0.3em 0 0.3em 15px;

    &:hover {
      text-decoration: none !important;
      background: transparentize(theme-color('primary'), 0.75);
    }
  }
}

.doc-block {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #fff;

  &:first-of-type {
    margin-top: 1rem;
  }
}
