html, body, #root {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 225px;
  padding: 1em 5em 0 2em;
  overflow-y: auto;
  box-shadow: 0 0 0.5rem #9da5ab;
}

nav a {
  display: block;
}

main {
  overflow-y: auto;
  margin-left: 225px !important;
}

.container {
  max-width: 960px;
}

.repl-container {
  position: fixed;
  height: 25vh;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: 0.15s ease-in-out;

  &.visible {
    transform: translateY(0);
  }

  .repl__hide {
    position: absolute;
    top: 2px;
    right: 0;

    &:hover {
      background: transparent;
    }
  }
}

.repl {
  height: 100%;
  position: relative;
  border-top: 5px solid rgb(200, 200, 200);

  &__editor {
    position: relative;
    height: 75%;
  }

  &__result {
    height: 25%;
    padding: 0.5em 0 0;
    border-top: 2px solid rgb(200, 200, 200);
    background: #2d2d2d;
    color: #fff;
  }

  #brace-editor {
    position: absolute;
    width: auto !important;
    height: auto !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.try-in-repl {
  float: right;
}
