{
  "parser": "babel-eslint",
  "globals": {
    "add": false,
    "all": false,
    "always": false,
    "any": false,
    "append": false,
    "assoc": false,
    "chain": false,
    "compact": false,
    "complement": false,
    "compose": false,
    "concat": false,
    "cond": false,
    "contains": false,
    "curry": false,
    "curryN": false,
    "dec": false,
    "dissoc": false,
    "divide": false,
    "drop": false,
    "dropUntil": false,
    "dropWhile": false,
    "empty": false,
    "equals": false,
    "F": false,
    "filter": false,
    "find": false,
    "findIndex": false,
    "findLast": false,
    "flatten": false,
    "flattenDeep": false,
    "flip": false,
    "fmap": false,
    "forEach": false,
    "fromPairs": false,
    "gt": false,
    "gte": false,
    "has": false,
    "head": false,
    "identical": false,
    "identity": false,
    "ifElse": false,
    "inc": false,
    "init": false,
    "insert": false,
    "isEmpty": false,
    "isEven": false,
    "isNil": false,
    "isOdd": false,
    "isType": false,
    "join": false,
    "juxt": false,
    "keys": false,
    "last": false,
    "length": false,
    "lens": false,
    "lensProp": false,
    "lt": false,
    "lte": false,
    "map": false,
    "mapi": false,
    "mapKeys": false,
    "mapValues": false,
    "max": false,
    "mean": false,
    "merge": false,
    "min": false,
    "multiply": false,
    "of": false,
    "omit": false,
    "over": false,
    "pair": false,
    "partition": false,
    "path": false,
    "pick": false,
    "pipe": false,
    "prepend": false,
    "prop": false,
    "propEq": false,
    "range": false,
    "rangeBy": false,
    "reduce": false,
    "reduceRight": false,
    "reject": false,
    "replace": false,
    "reverse": false,
    "scan": false,
    "set": false,
    "split": false,
    "subtract": false,
    "sum": false,
    "T": false,
    "tail": false,
    "take": false,
    "takeWhile": false,
    "tap": false,
    "test": false,
    "times": false,
    "toLower": false,
    "toPairs": false,
    "toUpper": false,
    "trim": false,
    "type": false,
    "unless": false,
    "values": false,
    "view": false,
    "when": false,
    "where": false,
    "without": false,
    "zip": false,
    "zipObj": false,
    "__DEV__": false,
    "__PROD__": false
  },
  "rules": {
    "comma-dangle": "off",
    "comma-style": "off",
    "one-var": "off"
  }
}